body    {
    font-family: 'Montserrat', sans-serif;
    --navbar_color: #2D1C49;
    --navbar_color_hover:#0F0420;
}

.bg-pantalla{

    background-color: var(--navbar_color);
}

a.navbarList{
    border:  none;
    color: var(--navbar_color);
    background-color: var(--navbar_color);
}

a.active{
    background-color: var(--navbar_color_hover) !important;
}
